/* Color palette a
https://colorhunt.co/palette/ffecd64cb9e73559e00f2167 */

.c1a{
    color: #FFC436;
}

.c2a{
    color: #337CCF;
}

.c3a{
    color: #1450A3;
}

.c4a{
    color: #191D88;
}

.bgc1a{
    background-color: #FFC436;
}

.bgc2a{
    background-color: #337CCF;
}

.bgc3a{
    background-color: #1450A3;
}

.bgc4a{
    background-color: #191D88;
}

.bgc5a{
    background-color: white;
}

.f1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.f2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.fsize{
    font-size: 1.3rem;
}

.fsize2{
    font-size: 2.7rem;
}


#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.div1Margin1{
    margin: 0px 0px 5px 0px;
}

.div1Margin2{
    margin: 0px 0px 0px 0px;
}

#div2{
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 1.2fr 2fr;
    gap: 30px;
}

.div2Height{
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 2fr 1fr;
}

.div3Height{
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 5fr 4fr;
}

.div2Align{
    text-align: center;
}

.div3Align{
    text-align: left;
}

.quest{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto 1fr;
    grid-template-columns: 3fr 2fr 1fr;
}

.borderRadius1{
    border-radius: 15px;
}

.p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1450A3;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.ans{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto 
                        auto auto auto auto 1fr;
    grid-template-columns: 1fr 5fr 5fr;
}

.p2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #1450A3;
    margin: 0px 0px 0px 40px;
}

.margin1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.margin2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-style: hidden;
}

.margin3{
    margin-left: 50px;
}

.marright{
    margin-right: 40px;
}

.marleft{
    margin-left: 20px;
}

.bottom{
    display: flex;
    align-items: center;
    margin-top: 30px;
    height: 40px;
}

.button1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFC436;;
    background-color: #1450A3;
    border-radius: 10px;
    height: 40px;
}

.button2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    /*background-color: white;
    color: #3559E0;*/
    background-color: #1450A3;
    color: #FFC436;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*height: 20px;*/
}

.width1{
    width: 60px;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }

.correct {
    box-shadow: 10px 10px 5px 0 green;
    opacity: 1.0;
  }

.wrong {
    box-shadow: 10px 10px 5px 0 red;
    opacity: 1.0;
}

.cent1{
    text-align: end;
}

.newtest{
    color: gray;
}

.span1{
    grid-column: span 3;
}

.span2{
    grid-column: span 2;
}